@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:Montserrat;
    box-sizing: border-box;
    transition: all ease 0.3s;
}

html{
    scroll-behavior: smooth;

  }


.container-user{

    text-align:center;
    position:fixed;
    z-index:999;
    top:0;
    width: 100%;
    color:#F5F0F9;
    font-size:1.2em;
    font-weight:600;
    transition: 0.4s ease;
}

.sticky{
  background-color: #0f0f0fff;
  color:#F5F0F9;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 1% 3%;
    width:80%;
    margin:0 auto;
  }

nav ul {

    background: none;
    width:auto;
    height:auto;
    display:flex;
    padding-top:0;
    margin-bottom:0;
}

nav ul a li{
    display:block;
    width:100%;
    padding: 1vh 1.4vh;
}

li, a{
    font-weight: 500;
    font-size: 0.85em;
    text-decoration: none;
    color:inherit;
    font-weight: 600;
}
nav ul a{
    float:left;
    margin: 1% 1.4%;
}

nav ul a li:hover{
    background-color: #758d44;
    color:black;
    transition: 0.4s ease-in-out;
    border-radius:25px;
}


.logo{
  cursor: pointer;
  margin-right: auto;
  width:5%;
  height:5%;

}

.container-head{
  background-image: url("vision.jpg");
  background-repeat:no-repeat;
  background-size: cover;
}

.topic {
  padding-top:12.5vw;
  padding-left: 12.5vw;
  padding-bottom:12.5vw;
  text-align:left;
  width:60%;
}

.topic h1{
  padding-top:10%;
  font-size: calc(2.4vw + 2.4vh);
  color:#758d44;
  font-weight: 600;
}

.topic h1 span{
  color:#f5f0f9;
}

.topic p{
  padding-top:2%;
  font-size: calc(0.8vw + 0.8vh);
  font-weight: 600;
  text-align: left;
  color:#F5F0F9;
  line-height: 1.5;
}
.fade-in {
	animation: fadeIn 2s;
  	opacity: 1;
}

.scroll{
    width:5%;
    animation:move 2s infinite alternate;
    position:absolute;
    top:35vw;
    left:47.75%;
}

.file{

  background-color: #fdffff;
  width:100%;
  /* padding-left:2.5%; */
  margin-bottom:5%;
  font-size: calc(2.4vw + 2.4vh);
}
.file h1, h6, p, h5 {
  padding-left:2.5%;
}

.file h1{
  font-size:calc(2.4vw + 2.4vh);
  font-weight:600;
  padding:3vw 0 3vw;
  padding-left:2.5%;
  color:#758d44;

}


.file h6{
  font-size:calc(0.9vw + 0.9vh);
}
.visionary-card p{
  font-size: calc(0.9vw + 0.9vh);
}

.file h5{
  font-weight:600;
  padding:5% 0 2%;
  padding-left:2.5%;
}

.file p{
  font-size: calc(0.9vw + 0.9vh);
  line-height: 1.9;
}

.card, .card-img-top, .card-body {
  border:none;
}

.card p {
  font-weight:400;
  font-family: Times;
  line-height:1.5;
  letter-spacing: 2px;
  word-spacing: 6px;
  text-align: center;
}

.quotes{
  display:block;
  font-size: 1.9em;
  font-family:serif;
}

.btn-infom{
  padding:1% 3%;
  font-size: calc(0.8vh + 0.8vw);
  background-color: #758d44;
  border:1px;
  border-radius: 2vw;
  font-weight:500;
}

.btn-infom:hover{
  background-color:#455d14;
  color:#f5f0f9;
  transition: all ease 0.3s;
}

.sustain-file{
  background-color:#0f0f0f;
  display:flex;

  /* height:20vh; */
}

.sustainable-img{
  width:50%;
  height:100%;
  display:inline-block;
  align-self: center;
  color:#0f0f0f;
  /* background-image:url("images/sustainability-2.jpg"); */
}
.sustainable-img a{
  color:#0f0f0fff;
}

.sustainable-img :hover{
  letter-spacing: 2px;
  transition: all ease 0.3s;
}

.sustainable-img img{
  width:100%;
  margin:auto;
  /* background-image:url("images/sustainability-2.jpg"); */
}

.sustainable-txt{
  width:50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  color:#f5f0f9;
}

.sustainable-txt h2{
  font-weight:600;
  font-size: calc(1.5vh + 1.5vw);

}
.sustainable-txt p{
  padding:2%;
  font-size:calc(0.7vh + 0.7vw);

}
.footer{
  background-color: #758d44;
  position:relative;
}

.footer-basic {
  padding:40px 0;
  background-color:#777;
  color:#0f0f0f;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:1;
}

.footer-basic ul a:hover {
  opacity:1;
}




.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}



@keyframes move{
    0%{
        transform:translateY(0px);
    }

    100%{
        transform: translateY(20px);
    }
}

@keyframes fadeIn {
  from {
  	opacity: 0;
  }
  to {
 	opacity: 1;
  }
}

@media only screen and (min-width:200px) {
  .logo{
    width:15%;
    height:15%;
  }
}

@media only screen and (min-width:650px) {
  .logo{
    width:12%;
    height:12%;
  }
}

@media only screen and (min-width:810px) {
  .logo{
    width:10%;
    height:10%;
  }
}


@media only screen and (min-width:1024px){
  .logo{
    width:8%;
    height:8%;
  }
  .scroll{
    bottom:4vw;
    top:auto;
  }
  .topic h1{
    font-size: calc(2.5vw + 2.5vh);
  }

  .topic p{
    font-size: calc(1vw + 1vh);
  }
  .container-head{
    height:100vh;
    background-size: cover;
  }

  .topic{
    padding-top:12.5%;
  }

  .file{
    width:60%;
    margin-left: 20%;
  }
}
@media only screen and (max-width: 1538px) and (min-width: 1238px){
  .container-head {
    background-size: cover;
    width:100vw;

  }
}

@media only screen and (min-width:1528px){

  .logo{
    width:5%;
    height:5%;
  }
}
